/* ==UserStyle==
@name Dark Circle Forum (WoW Circle Style)
@namespace https://github.com/Forwy4/forwy
@version 1.0.0
@description Dark style for forum.wowcircle.net
@author Forwy
==/UserStyle== */
@-moz-document domain("forum.wowcircle.net") {
   :root {
      --main-color: #000201;
      --main-bg-color: #646262;
      --body-color: #848382;
      --border: #ece0eb;
      --color-font: #e6e4e4;
      --font1: #7e7b7b;
      /*Малозаметный текст*/
      --font2: #bbb6b6;
      /*Среднезаметный текст*/
      --font3: #e2dede;
      /*Сильнозаметны текст*/
      --time-color: #8d99ff;
      --quote-top: #424655;
      --quote: #60626d;
   }
   #vbulletin_html {
      /*Основное изображение*/
      background: var(--main-color) url(https://i.imgur.com/zklXXhc.jpg) no-repeat;
   }
   /*Замена значка сообщений*/
   #forum_statusicon_109,
   #forum_statusicon_113,
   #forum_statusicon_116,
   #forum_statusicon_118,
   #forum_statusicon_121,
   #forum_statusicon_123,
   #forum_statusicon_125,
   #forum_statusicon_739,
   #forum_statusicon_297,
   #forum_statusicon_1680,
   #forum_statusicon_472,
   #forum_statusicon_471,
   #forum_statusicon_1457,
   #forum_statusicon_11,
   #forum_statusicon_15,
   #forum_statusicon_1036,
   #forum_statusicon_522,
   #forum_statusicon_692,
   #forum_statusicon_915,
   #forum_statusicon_1458,
   #forum_statusicon_781,
   #forum_statusicon_573,
   #forum_statusicon_17,
   #forum_statusicon_1431,
   #forum_statusicon_31,
   #forum_statusicon_455,
   #forum_statusicon_1043,
   #forum_statusicon_1074,
   #forum_statusicon_296,
   #forum_statusicon_587,
   #forum_statusicon_108,
   #forum_statusicon_594,
   #forum_statusicon_103,
   #forum_statusicon_284,
   #forum_statusicon_331,
   #forum_statusicon_110,
   #forum_statusicon_595,
   #forum_statusicon_393,
   #forum_statusicon_729,
   #forum_statusicon_186 {
      content: url(https://cdn.discordapp.com/attachments/575078879572656128/653203962211729429/forum_new-48.png);
   }
   /*Замена значка бесконечности(ссылка)*/
   #forum_statusicon_378,
   #forum_statusicon_1706,
   #forum_statusicon_1430,
   #forum_statusicon_1052,
   #forum_statusicon_1636,
   #forum_statusicon_1508,
   #forum_statusicon_1072,
   #forum_statusicon_1070,
   #forum_statusicon_1073 {
      content: url(https://cdn.discordapp.com/attachments/575078879572656128/653233016654528523/subforum_link-48.png);
   }
   body,
   .userprof,
   .userprof_content,
   .thread_info {
      /*Основной шрифт*/
      font-family: Tahoma, Calibri, Verdana, Geneva, sans-serif;
      color: var(--color-font);
   }
   body a {
      font-family: Tahoma, Calibri, Verdana, Geneva, sans-serif;
      color: var(--color-font) !important;
      transition: 0.5s ease;
   }
   a:hover {
      color: white !important;
      transition: 0.5s ease;
   }
   .time,
   .wgo_block .time,
   .below_body .time,
   #sidebar_container .userprof_content .time,
   .userprof_content .time,
   .postbitlegacy .posthead .time {
      /*Время*/
      color: var(--time-color);
   }
   .forumbit_post .forumrow,
   .forumbit_post .forumstats li,
   .forumbit_post .forumstats_2 li,
   .postbitlegacy .lastedited {
      /*Малозаметный*/
      color: var(--font1) !important;
   }
   .wgo_block .blocksubhead,
   #sidebar_container .blocksubhead,
   li.activitybit,
   dl.stats dd,
   .userprof_title,
   .shade,
   em,
   li.userprof_content,
   .postbitlegacy .postrow,
   .postbitlegacy .userinfo .usertitle,
   .postbitlegacy dl.userinfo_extra dt,
   .threadbit .threadtitle,
   .threadbit .threadmeta,
   .threadbit .threadlastpost dd,
   .threadbit .threadpostedin p,
   .searchtitle {
      /*Сильнозаметный*/
      color: var(--font3) !important;
   }
   .wgo_block .section,
   dl.stats dt,
   #sidebar_container .userprof_content .blockrow,
   .moreactivity span,
   .moreactivity a,
   .formcontrols .blockrow .description,
   .postbitlegacy dl.userinfo_extra dd,
   .postbitlegacy,
   .postbitlegacy .posthead,
   .above_threadlist .threadpagenav .threadpagestats,
   .above_postlist .pagination_top .postpagestats {
      /*Среднезаметный*/
      color: var(--font2) !important;
   }
   #footer_copyright > a.banner-corner > img {
      /*Убираем баннер каты х5*/
      display: none;
   }
   /*Цитаты*/
   .bbcode_container div.bbcode_quote div.message,
   .bbcode_postedby {
      color: var(--font3) !important;
   }
   .bbcode_postedby {
      background: var(--quote-top);
      border-top-left-radius: 5px;
   }
   .bbcode_container div.bbcode_quote {
      border: 1px var(--border) solid;
      border-top-left-radius: 5px;
   }
   .bbcode_container div.bbcode_quote {
      background: var(--quote);
      padding: 5px;
   }
   .forumbit_post .forumrow {
      display: non
   }
   .quote_expander {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      box-sizing: border-box;
      font-size: 12px;
      text-align: center;
      color: rgb(63, 63, 63);
      cursor: pointer;
      padding-top: 65px;
      background: -webkit-linear-gradient(top, rgba(45, 45, 45, 0) 0%, var(--main-color) 80%);
      background: -moz-linear-gradient(top, rgba(45, 45, 45, 0) 0%, var(--main-color) 80%);
      background: -o-linear-gradient(top, rgba(45, 45, 45, 0) 0%, var(--main-color) 80%);
      background: linear-gradient(to bottom, rgba(45, 45, 45, 0) 0%, var(--main-color) 80%);
      width: 100%;
      position: absolute;
      bottom: 0;
   }
   body > div.body_wrapper,
   #yuievtautoid-0 > div.body_wrapper {
      /*Цвет на задней картинке*/
      background: linear-gradient(to top, var(--body-color) 0%, transparent 100%);
   }
   .wgo_block .blockbody,
   .thread_info .blockbody {
      background: #646262;
   }
   .footer {
      clear: both;
      margin-top: 15px;
      text-align: right;
      display: block;
      -moz-box-shadow: -2px 2px 2px #c8c8c8;
      -webkit-box-shadow: -2px 2px 2px #c8c8c8;
      box-shadow: -2px 2px 2px #c8c8c8;
      background: #000201 none;
      padding: 5px 0px 5px 0px;
      border: 1px solid #695142;
      color: #827972;
      font: normal 13px Tahoma, Calibri, Verdana, Geneva, sans-serif;
   }
   .toplinks {
      /*Строка навигации*/
      position: absolute;
      right: 0px;
      top: 0;
      color: #ffffff;
      font: normal normal normal 12px Arial, Tahoma, Calibri, Verdana, Geneva, sans-serif;
      text-align: right;
   }
   #toplinks > ul > li.welcomelink > a {
      background: none;
   }
   .toplinks .notifications a.popupctrl:hover,
   .toplinks .nonotifications a.popupctrl:hover,
   .toplinks .nonotifications a.popupctrl.active,
   .toplinks .notifications a.popupctrl.active {
      padding-top: 3px;
      padding-bottom: 3px;
      padding-left: 4px;
      padding-right: 15px;
      background: var(--main-bg-color) url(images/wow-circle/misc/arrow.png) no-repeat right center;
   }
   .toplinks ul.isuser li a:hover {
      padding-top: 3px;
      padding-bottom: 3px;
      padding-left: 4px;
      padding-right: 4px;
      background: var(--main-bg-color);
      color: rgb(255, 255, 255);
   }
   .popupbody {
      font: normal 12px Tahoma, Calibri, Verdana, Geneva, sans-serif;
      color: #fff;
      padding: 2px;
      background: var(--main-bg-color) none;
      border: 0px solid var(--border);
      position: absolute;
      z-index: 1000;
      top: 1.5em;
      left: 0;
      display: none;
      min-width: 200px;
   }
   .popupbody li a,
   .popupbody li label {
      display: block;
      background: none;
      text-decoration: none;
      text-align: left;
      white-space: nowrap;
   }
   .toplinks .nonotifications .popupbody a {
      color: #000000;
      background: var(--main-bg-color) none;
      float: none;
      clear: none;
      padding: 0 5px;
      margin-left: 0;
      text-align: left;
      line-height: 26px;
   }
   .popupbody li > a:hover,
   .popupbody li > label:hover {
      color: #fff;
      background: var(--main-color) none;
   }
   .popupbody li > a,
   .popupbody li > label {
      color: #fff;
      background: var(--main-bg-color) none;
   }
   #yui-gen3 > li:nth-child(5) > a,
   #yui-gen6 > li:nth-child(3) > a,
   #yui-gen9 > li:nth-child(5) > a {
      border-bottom-left-radius: 7px;
   }
   .toplinks .nonotifications .popupbody a:hover {
      color: #fff;
      background: var(--main-color) none;
      text-decoration: underline;
      padding: 0 5px;
   }
   .forumbit_nopost .subforumdescription,
   .userprof_headers,
   .threadlisthead,
   .postbitlegacy .posthead {
      /*Цвет под шапкой*/
      color: #fff4ed;
      background: var(--main-bg-color) none repeat-x;
   }
   #forumbits.forumbits .forumhead {
      border-color: var(--border);
   }
   .navlinks {
      background: var(--main-bg-color);
      border-top: 1px solid var(--border);
      padding: 10px 0;
      text-align: center;
      color: #5d5d5d;
      font-size: 14px;
      margin-top: 20px;
      margin-bottom: 20px;
      width: 100%;
      clear: both;
   }
   .threadbit .threadstats li,
   .forumbit_post .forumstats li,
   .forumbit_post .forumstats_2 li {
      /*Просмотры тем*/
      background: #30302f;
      width: 70px;
   }
   .forumbit_post .forumstats li:first-child,
   .forumbit_post .forumstats_2 li:first-child,
   .threadbit .threadstats li:first-child,
   #forum186 > div.forumbit_post.L2 > div > ul.forumstats_2.td > li:nth-child(1) {
      background: #414140;
   }
   .toolsmenu #forumtools h6 a,
   .toolsmenu #threadtools h6 a {
      background: url(images/wow-circle/icons/hammer.png) var(--main-bg-color) no-repeat;
      background-position: 5px 6px;
      background-size: 13px;
      padding-left: 23px;
      border-top: 1px var(--border) solid;
   }
   .toolsmenu #forumsearch h6 a,
   .toolsmenu #searchthread h6 a {
      background: url(images/wow-circle/buttons/search.png) var(--main-bg-color) no-repeat;
      background-repeat: no-repeat;
      background-position: 5px 6px;
      background-size: 13px;
      padding-left: 23px;
   }
   .toolsmenu #threadrating h6 a {
      background: url(images/wow-circle/icons/rating.png) var(--main-bg-color) no-repeat;
      background-repeat: no-repeat;
      background-position: 5px 6px;
      background-size: 13px;
      padding-left: 23px;
   }
   .toolsmenu #displaymodes h6 a {
      background: url(images/wow-circle/icons/display.png) var(--main-bg-color) no-repeat;
      background-position: 5px 6px;
      background-size: 13px;
      padding-left: 23px;
      border-top: 1px var(--border) solid;
   }
   #navbar_notice_7 {
      /*Актуальные"Новости"*/
      background: var(--main-bg-color);
      border: var(--border) 1px solid;
   }
   #navbar_notice_7 > strong > b > p:nth-child(3) > a:nth-child(1) > span,
   #navbar_notice_7 > strong > b > span {
      /*Лечим ссылки Актуальные новости"*/
      color: var(--color-font) !important;
      transition: 0.5s ease;
   }
   #navbar_notice_7 > strong > b > p:nth-child(3) > a:nth-child(1) > span:hover {
      color: white !important;
      transition: 0.5s ease;
   }
   /*Верхушка Новые сообщения Личные сообщение Справка...*/
   .navtabs ul {
      background: var(--main-color);
      border-bottom-left-radius: 10px;
   }
   /*Верхушка Форум Альбомы Группы... Выбрано*/
   .navtabs li.selected a.navtab {
      background: var(--main-color) none repeat-x;
      position: relative;
      border-top: 1px var(--time-color) solid;
   }
   /*Верхушка Форум Альбомы Группы... Не выбрано*/
   .navtabs li a.navtab {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      line-height: 28px;
      min-width: 50px;
      background: var(--main-bg-color);
   }
   .navtabs li a.navtab:hover {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      line-height: 28px;
      min-width: 50px;
      background: var(--main-color);
   }
   .forumhead,
   .wgo_block .blockhead,
   #sidebar_container .blocksubhead,
   .toolsmenu,
   .forum_info .blockhead,
   h2.searchlisthead,
   .thread_info h4 {
      /*Шапка заголовков разделов*/
      background: var(--main-color) none;
   }
   #cat13 > div > div > p {
      background: var(--main-bg-color);
   }
   .forumhead + .childforum .L2:first-child .forumrow,
   .forumbit_post:nth-child(odd) .forumrow,
   .forumbit_post .forumrow,
   .forumbit_post:nth-child(even) .forumrow {
      background: none !important;
      border: none;
   }
   /*Фон для разделов на главной*/
   .forumbit_post {
      background: linear-gradient( to top, var(--main-color), var(--main-bg-color));
      border-bottom: 1px solid;
   }
   #sidebar_container.member_summary {
      /*Там, где аватарка*/
      width: 250px;
      float: left;
      clear: right;
      border-radius: 5px;
      box-shadow: -2px 2px 2px #c8c8c8;
      background: none;
      border: 0px var(--border) solid;
      display: inline-block;
      margin-bottom: 10px;
      padding: 0;
   }
   /*Тоже там, где аватарка, только ниже*/
   #sidebar_container .userprof_content .blockrow {
      background: var(--main-bg-color);
      background-image: none;
      background-repeat: repeat;
      border-color: var(--border);
   }
   .member_summary dl.stats dt,
   .member_summary dl.stats dd {
      font-size: 12px;
      margin: 3px;
   }
   /*Активность в профиле*/
   li.userprof_content {
      margin-bottom: .5em;
      color: #333333;
      background-color: none;
      background-image: none;
      background-repeat: repeat;
   }
   li.activitybit,
   li.userprof_content,
   .userprof_moduleinactive,
   .formcontrols .blockrow,
   .blockbody {
      overflow: hidden;
      font-weight: normal;
      font-family: inherit;
      font-size: 13px;
      margin: 0px 0px 10px 0px;
      border: none;
      padding: 10px;
      background: var(--main-bg-color) none;
   }
   .profile_editor_border,
   .profile_content .actionbuttons {
      border: none;
   }
   .blockfoot {
      background: none;
   }
   .pagination span a,
   .pagination span a.popupctrl,
   .popupbody li.formsubmit {
      background: var(--main-bg-color);
   }
   .pagination span a:hover,
   .pagination span a.popupctrl:hover,
   .button:hover {
      background: var(--main-color);
   }
   .pagination span.selected a,
   .button {
      background: var(--main-color);
   }
   /*Шапка в личном кабинете*/
   dd.userprof_moduleinactive {
      background: var(--main-bg-color);
      margin: 0;
      padding: 0 15px;
      transition: 0.2s ease;
      border-top: 1px var(--border) solid;
      border-left: 1px var(--border) solid;
      border-right: 1px var(--border) solid;
   }
   dd.userprof_moduleinactive:hover {
      background: var(--main-color);
      margin: 0;
      padding: 0 15px;
      transition: 0.2s ease;
      border-top: 1px var(--border) solid !important;
      border-left: 1px var(--border) solid !important;
      border-right: 1px var(--border) solid !important;
   }
   dl.tabslight dd.userprof_module a {
      color: #ffffff;
      background: none;
      border: none;
   }
   dd.userprof_module {
      background: var(--main-color);
      font-weight: bold;
      display: inline;
      padding: 0 15px;
      line-height: 22px;
      font-size: 14px;
      border-top: 1px var(--time-color) solid;
   }
   dd.userprof_module:hover {
      background: var(--main-color);
      font-weight: bold;
      display: inline;
      padding: 0 15px;
      line-height: 22px;
      font-size: 14px;
      border-top: 1px var(--time-color) solid;
   }
   .memberprofiletabunder {
      background-color: var(--main-bg-color);
      background-image: none;
      background-repeat: repeat-x;
      border-top: 1px var(--border) solid;
      border-bottom: 1px var(--border) solid;
   }
   .as-tabs dd {
      background: var(--main-bg-color);
      border: none;
      padding: 0 5px;
      transition: 0.2s ease;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      border-bottom: 1px var(--border) solid;
      border-left: 1px var(--border) solid;
      border-right: 1px var(--border) solid;
   }
   .as-tabs dd:hover {
      background: var(--main-color);
      border: none;
      padding: 0 5px;
      transition: 0.2s ease;
      border-bottom: 1px var(--border) solid;
      border-left: 1px var(--border) solid;
      border-right: 1px var(--border) solid;
   }
   .activitystream_block dd.selected {
      background: var(--main-bg-color);
      border: none;
      border-bottom: 1px var(--time-color) solid;
   }
   #activity_tab_container > div {
      overflow: hidden;
      background: transparent;
   }
   .activitystream_block dd.selected {
      background: var(--main-color);
   }
   #message_list .postbit {
      background: var(--main-bg-color);
   }
   /*Кнопка Изменить стиль профиля*/
   .userprof_button {
      padding: 3px;
      margin: 0;
      border: 0px var(--border) solid;
      background: var(--main-color);
      color: var(--color-font);
      transition: 0.2s ease;
   }
   .userprof_button:hover {
      padding: 3px;
      margin: 0;
      border: 0px var(--border) solid;
      background: var(--main-bg-color);
      color: var(--color-font);
      transition: 0.2s ease;
   }
   .userprof_content {
      background-color: #646262;
   }
   /*Приват*/
   #usercp_nav .blockrow .active {
      background: var(--main-color);
   }
   #usercp_nav .blockbody {
      border: 1px solid #96725a;
      border: none;
      background: var(--main-bg-color) none;
   }
   #usercp_nav .blockrow {
      background: var(--main-bg-color) none;
      padding: 1px 10px;
   }
   #usercp_nav .blocksubhead {
      background: var(--time-color);
      border: 1px var(--border) solid;
   }
   .blocksubhead {
      background: var(--main-color);
      border-bottom: 1px var(--border) solid;
   }
   .blockhead {
      background: var(--main-color);
   }
   .blockbody.settings_form_border {
      border-right: 1px solid var(--border);
      border-left: 1px solid var(--border);
      border-bottom: 1px solid var(--border);
   }
   .pmlist .blockrow {
      background: var(--main-bg-color);
      border-left: 1px var(--border) solid;
      border-right: 1px var(--border) solid;
   }
   .navpopupmenu.popupmenu.nohovermenu a.popupctrl,
   .navpopupmenu.popupmenu.nohovermenu a.textcontrol,
   a.textcontrol,
   .actionbuttons .group .button {
      background: var(--main-color) !important;
      transition: 0.2s ease;
   }
   .navpopupmenu.popupmenu.nohovermenu a.popupctrl:hover,
   .navpopupmenu.popupmenu.nohovermenu a.textcontrol:hover,
   a.textcontrol:hover,
   .actionbuttons .group .button:hover {
      background: var(--main-bg-color) !important;
      transition: 0.2s ease;
   }
   .postbitlegacy,
   .postbitlegacy .postbody,
   .postbitlegacy .postdetails,
   .postbitlegacy .userinfo,
   .postbitlegacy .postfoot .textcontrols {
      background: var(--main-bg-color) !important;
   }
   .postbitlegacy .postfoot .textcontrols,
   .threadlisthead {
      border-top: 1px var(--border) solid;
      border-bottom: 1px var(--border) solid;
   }
   .postbitlegacy .postfoot .textcontrols a.newreply,
   .postbit .postfoot .textcontrols a.newreply {
      background: url(images/wow-circle/buttons/quote_40b.png) no-repeat left;
   }
   .postbitlegacy .postfoot .textcontrols a {
      background: transparent;
   }
   .postbitlegacy .postfoot .textcontrols a.quickreply,
   .postbit .postfoot .textcontrols a.quickreply,
   .postbitlegacy .postfoot .textcontrols a.forwardpost,
   .postbit .postfoot .textcontrols a.forwardpost {
      background: url(images/wow-circle/buttons/reply_40b.png) no-repeat transparent left;
   }
   .postbitlegacy .postfoot .textcontrols a.multiquote,
   .postbit .postfoot .textcontrols a.multiquote {
      background: url(images/wow-circle/buttons/multiquote-back_40b.png) no-repeat transparent left;
   }
   .postbit .postfoot .textcontrols a.multiquote:hover {
      background: url(images/wow-circle/buttons/multiquote-back_40b.png) no-repeat transparent left;
   }
   .postbitlegacy .postfoot .textcontrols a.infraction,
   .postbit .postfoot .textcontrols a.infraction {
      background: url(images/wow-circle/buttons/add-infraction_sm.png) no-repeat transparent left;
   }
   .postbitlegacy .postfoot .textcontrols a.post_thanks_button:hover,
   .postbit .postfoot .textcontrols a.post_thanks_button:hover {
      background: url(images/wow-circle/buttons/post_thanks.png) no-repeat transparent left;
   }
   .threadbit,
   .threadbit:nth-child(even) .sticky,
   .threadbit:nth-child(odd) .sticky,
   .threadbit:nth-child(odd) .nonsticky,
   .threadbit:nth-child(even) .nonsticky {
      background: linear-gradient( to top, var(--main-color), var(--main-bg-color));
      border-bottom: 1px solid;
      opacity: 0.8;
   }
   .threadbit,
   .threadbit:nth-child(even) .sticky:hover,
   .threadbit:nth-child(odd) .sticky:hover,
   .threadbit:nth-child(odd) .nonsticky:hover,
   .threadbit:nth-child(even) .nonsticky:hover {
      background: linear-gradient( to top, var(--main-color), var(--main-bg-color));
      border-bottom: 1px solid;
      opacity: 1;
   }
   /*Кнопка Новая тема, закрытая тема*/
   .newcontent_textcontrol {
      background: linear-gradient( to top, var(--main-color), var(--main-bg-color));
      border-radius: 4px;
      color: rgb(255, 255, 255);
      padding: 6px 15px 6px 15px;
      border: 0;
      opacity: 0.8;
      transition: 0.3s ease;
   }
   .newcontent_textcontrol:hover {
      background: linear-gradient( to top, var(--main-color), var(--main-bg-color));
      border-radius: 4px;
      color: rgb(255, 255, 255);
      padding: 6px 15px 6px 15px;
      border: 0;
      opacity: 1;
      transition: 0.3s ease;
   }
}
